<!DOCTYPE html>
<html>
<title>Budget Manager</title>

<body>
    <h1>++Budget Manager++</h1>
    </br>
    <form name="budgetManager" method="POST" action="/refillBudget">
        <br>CUSTOMER ID<br>
        <input type='number' name='custId' required>
        </br>

        <br>VALUE<br>
        <input type='number' name='refillAmount' required>
        </br>


        <input type="submit" value="Submit">
    </form>
</body>

</html>